In [ ]:
""""Phase 1 Data Collection
These websites are used to gather data:

https://www.census2011.co.in/sexratio.php
https://data.gov.in/resource/stateuts-wise-literacy-rates-census-2001-and-2011
https://data.gov.in/search?title=crime
https://www.indiaonlinepages.com/population/literacy-rate-in-india.html
https://www.wbhealth.gov.in/other_files/2007/14_5.html
https://www.kaggle.com/datasets/doncorleone92/govt-of-india-literacy-rate/code
https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area"""

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
pop_df = pd.read_csv('pop.csv',sep='\t')
pop_df

,UnionTerritory,"Population, 2001",Per%_of_urban_pop_wtot_pop,Rural,Urban
0,INDIA,"1,028,610,328","742,490,639","286,119,689",27.82
1,Andhra Pradesh,"76,210,007","55,401,067","20,808,940",27.30
2,Arunachal Pradesh,"1,097,968","870,087","227,881",20.75
3,Assam,"26,655,528","23,216,288","3,439,240",12.90
4,Bihar,"82,998,509","74,316,709","8,681,800",10.46
5,Chhattisgarh,"20,833,803","16,648,056","4,185,747",20.09
6,Goa,"1,347,668","677,091","670,577",49.76
7,Gujarat,"50,671,017","31,740,767","18,930,250",37.36
8,Haryana,"21,144,564","15,029,260","6,115,304",28.92
9,Himachal Pradesh,"6,077,900","5,482,319","595,581",9.80
10,Jammu & Kashmir,"10,143,700","7,627,062","2,516,638",24.81
11,Jharkhand,"26,945,829","20,952,088","5,993,741",22.24
12,Karnataka,"52,850,562","34,889,033","17,961,529",33.99
13,Kerala,"31,841,374","23,574,449","8,266,925",25.96
14,Madhya Pradesh,"60,348,023","44,380,878","15,967,145",26.46
15,Maharashtra,"96,878,627","55,777,647","41,100,980",42.43
16,Manipur,"2,166,788","1,590,820","575,968",26.58
17,Meghalaya,"2,318,822","1,864,711","454,111",19.58
18,Mizoram,"888,573","447,567","441,006",49.63
19,Nagaland,"1,990,036","1,647,249","342,787",17.23
20,Orissa,"36,804,660","31,287,422","5,517,238",14.99
21,Punjab,"24,358,999","16,096,488","8,262,511",33.92
22,Rajasthan,"56,507,188","43,292,813","13,214,375",23.39
23,Sikkim,"540,851","480,981","59,870",11.07
24,Tamil Nadu,"62,405,679","34,921,681","27,483,998",44.04
25,Tripura,"3,199,203","2,653,453","545,750",17.06
26,Uttaranchal,"8,489,349","6,310,275","2,179,074",25.67
27,Uttar Pradesh,"166,197,921","131,658,339","34,539,582",20.78
28,West Bengal,"80,176,197","57,748,946","22,427,251",27.97
29,Union Territories,,,,
30,Andaman and Nicobar Islands,"356,152","239,954","116,198",32.63
31,Chandigarh,"900,635","92,120","808,515",89.77
32,Dadra and Nagar Haveli,"220,490","170,027","50,463",22.89
33,Daman and Diu,"158,204","100,856","57,348",36.25
34,Delhi,"13,850,507","944,727","12,905,780",93.18
35,Lakshadweep,"60,650","33,683","26,967",44.46
36,Pondicherry,"974,345","325,726","648,619",66.57

In [3]:
pop_df.drop(index=0, inplace=True)
pop_df

,UnionTerritory,"Population, 2001",Per%_of_urban_pop_wtot_pop,Rural,Urban
1,Andhra Pradesh,"76,210,007","55,401,067","20,808,940",27.30
2,Arunachal Pradesh,"1,097,968","870,087","227,881",20.75
3,Assam,"26,655,528","23,216,288","3,439,240",12.90
4,Bihar,"82,998,509","74,316,709","8,681,800",10.46
5,Chhattisgarh,"20,833,803","16,648,056","4,185,747",20.09
6,Goa,"1,347,668","677,091","670,577",49.76
7,Gujarat,"50,671,017","31,740,767","18,930,250",37.36
8,Haryana,"21,144,564","15,029,260","6,115,304",28.92
9,Himachal Pradesh,"6,077,900","5,482,319","595,581",9.80
10,Jammu & Kashmir,"10,143,700","7,627,062","2,516,638",24.81
11,Jharkhand,"26,945,829","20,952,088","5,993,741",22.24
12,Karnataka,"52,850,562","34,889,033","17,961,529",33.99
13,Kerala,"31,841,374","23,574,449","8,266,925",25.96
14,Madhya Pradesh,"60,348,023","44,380,878","15,967,145",26.46
15,Maharashtra,"96,878,627","55,777,647","41,100,980",42.43
16,Manipur,"2,166,788","1,590,820","575,968",26.58
17,Meghalaya,"2,318,822","1,864,711","454,111",19.58
18,Mizoram,"888,573","447,567","441,006",49.63
19,Nagaland,"1,990,036","1,647,249","342,787",17.23
20,Orissa,"36,804,660","31,287,422","5,517,238",14.99
21,Punjab,"24,358,999","16,096,488","8,262,511",33.92
22,Rajasthan,"56,507,188","43,292,813","13,214,375",23.39
23,Sikkim,"540,851","480,981","59,870",11.07
24,Tamil Nadu,"62,405,679","34,921,681","27,483,998",44.04
25,Tripura,"3,199,203","2,653,453","545,750",17.06
26,Uttaranchal,"8,489,349","6,310,275","2,179,074",25.67
27,Uttar Pradesh,"166,197,921","131,658,339","34,539,582",20.78
28,West Bengal,"80,176,197","57,748,946","22,427,251",27.97
29,Union Territories,,,,
30,Andaman and Nicobar Islands,"356,152","239,954","116,198",32.63
31,Chandigarh,"900,635","92,120","808,515",89.77
32,Dadra and Nagar Haveli,"220,490","170,027","50,463",22.89
33,Daman and Diu,"158,204","100,856","57,348",36.25
34,Delhi,"13,850,507","944,727","12,905,780",93.18
35,Lakshadweep,"60,650","33,683","26,967",44.46
36,Pondicherry,"974,345","325,726","648,619",66.57

In [4]:
lit_df = pd.read_csv('liters.csv',sep='	')
lit_df

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,Country,INDIA,64.8,73.0,58.7,67.8,79.9,84.1
1,State,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,State,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,State,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,State,Bihar,47.0,61.8,43.9,59.8,71.9,76.9
5,State,Chhattisgarh,64.7,70.3,60.5,66.0,80.6,84.0
6,State,Goa,82.0,88.7,79.7,86.6,84.4,90.0
7,State,Gujarat,69.1,78.0,61.3,71.7,81.8,86.3
8,State,Haryana,67.9,75.6,63.2,71.4,79.2,83.1
9,State,Himachal Pradesh,76.5,82.8,75.1,81.9,88.9,91.1
10,State,Jammu & Kashmir,55.5,67.2,49.8,63.2,71.9,77.1
11,State,Jharkhand,53.6,66.4,45.7,61.1,79.1,82.3
12,State,Karnataka,66.6,75.4,59.3,68.7,80.6,85.8
13,State,Kerala,90.9,94.0,90.0,93.0,93.2,95.1
14,State,Madhya Pradesh,63.7,69.3,57.8,63.9,79.4,82.8
15,State,Maharashtra,76.9,82.3,70.4,77.0,85.5,88.7
16,State,Manipur,70.5,76.9,67.3,73.4,79.3,85.4
17,State,Meghalaya,62.6,74.4,56.3,69.9,86.3,90.8
18,State,Mizoram,88.8,91.3,81.3,84.1,96.1,97.6
19,State,Nagaland,66.6,79.6,62.8,75.3,84.7,89.6
20,State,Odisha,63.1,72.9,59.8,70.2,80.8,85.7
21,State,Punjab,69.7,75.8,64.7,71.4,79.1,83.2
22,State,Rajasthan,60.4,66.1,55.3,61.4,76.2,79.7
23,State,Sikkim,68.8,81.4,66.8,78.9,83.9,88.7
24,State,Tamil Nadu,73.5,80.1,66.2,73.5,82.5,87.0
25,State,Tripura,73.2,87.2,69.7,84.9,89.2,93.5
26,State,Uttar Pradesh,56.3,67.7,52.5,65.5,69.8,75.1
27,State,Uttarakhand,71.6,78.8,68.1,76.3,81.4,84.5
28,State,West Bengal,68.6,76.3,63.4,72.1,81.2,84.8
29,Union Territory,A & N Islands,81.3,86.6,78.7,84.5,86.6,90.1
30,Union Territory,Chandigarh,81.9,86.0,75.6,80.7,82.6,86.2
31,Union Territory,D & N Haveli,57.6,76.2,49.3,64.1,84.4,89.8
32,Union Territory,Daman & Diu,78.2,87.1,75.8,81.4,82.3,89.0
33,Union Territory,Lakshadweep,86.7,91.8,85.0,91.6,88.6,91.9
34,Union Territory,NCT of Delhi,81.7,86.2,78.1,81.9,81.9,86.3
35,Union Territory,Puducherry,81.2,85.8,74.0,80.1,84.8,88.5

In [5]:
lit_df.drop(columns='Category',inplace=True)

In [6]:
lit_df

,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,INDIA,64.8,73.0,58.7,67.8,79.9,84.1
1,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,Bihar,47.0,61.8,43.9,59.8,71.9,76.9
5,Chhattisgarh,64.7,70.3,60.5,66.0,80.6,84.0
6,Goa,82.0,88.7,79.7,86.6,84.4,90.0
7,Gujarat,69.1,78.0,61.3,71.7,81.8,86.3
8,Haryana,67.9,75.6,63.2,71.4,79.2,83.1
9,Himachal Pradesh,76.5,82.8,75.1,81.9,88.9,91.1
10,Jammu & Kashmir,55.5,67.2,49.8,63.2,71.9,77.1
11,Jharkhand,53.6,66.4,45.7,61.1,79.1,82.3
12,Karnataka,66.6,75.4,59.3,68.7,80.6,85.8
13,Kerala,90.9,94.0,90.0,93.0,93.2,95.1
14,Madhya Pradesh,63.7,69.3,57.8,63.9,79.4,82.8
15,Maharashtra,76.9,82.3,70.4,77.0,85.5,88.7
16,Manipur,70.5,76.9,67.3,73.4,79.3,85.4
17,Meghalaya,62.6,74.4,56.3,69.9,86.3,90.8
18,Mizoram,88.8,91.3,81.3,84.1,96.1,97.6
19,Nagaland,66.6,79.6,62.8,75.3,84.7,89.6
20,Odisha,63.1,72.9,59.8,70.2,80.8,85.7
21,Punjab,69.7,75.8,64.7,71.4,79.1,83.2
22,Rajasthan,60.4,66.1,55.3,61.4,76.2,79.7
23,Sikkim,68.8,81.4,66.8,78.9,83.9,88.7
24,Tamil Nadu,73.5,80.1,66.2,73.5,82.5,87.0
25,Tripura,73.2,87.2,69.7,84.9,89.2,93.5
26,Uttar Pradesh,56.3,67.7,52.5,65.5,69.8,75.1
27,Uttarakhand,71.6,78.8,68.1,76.3,81.4,84.5
28,West Bengal,68.6,76.3,63.4,72.1,81.2,84.8
29,A & N Islands,81.3,86.6,78.7,84.5,86.6,90.1
30,Chandigarh,81.9,86.0,75.6,80.7,82.6,86.2
31,D & N Haveli,57.6,76.2,49.3,64.1,84.4,89.8
32,Daman & Diu,78.2,87.1,75.8,81.4,82.3,89.0
33,Lakshadweep,86.7,91.8,85.0,91.6,88.6,91.9
34,NCT of Delhi,81.7,86.2,78.1,81.9,81.9,86.3
35,Puducherry,81.2,85.8,74.0,80.1,84.8,88.5

In [7]:
area_df=pd.read_csv('area.csv',sep="\t")
area_df

,Rank,State /Union Territory,Area (km2),Region,%total,Unnamed: 5
0,1 (S1),Rajasthan,"342,239",Western,10.4110,NaN
1,2 (S2),Madhya Pradesh,"308,252",Central,9.3770,[a]
2,3 (S3),Maharashtra,"307,713",Western,9.3600,NaN
3,4 (S4),Uttar Pradesh,"240,928",Northern,7.3290,NaN
4,5 (S5),Gujarat,"196,024",Western,5.9630,NaN
5,6 (S6),Karnataka,"191,791",Southern,5.8340,NaN
6,7 (S7),Andhra Pradesh,"162,975",Southern,4.9570,[b]
7,8 (S8),Odisha,"155,707",Eastern,4.7361,NaN
8,9 (S9),Chhattisgarh,"135,192",Central,4.1120,[c]
9,10 (S10),Tamil Nadu,"130,058",Southern,3.9560,NaN
10,11 (S11),Telangana,"112,077",Southern,3.4090,NaN
11,12 (S12),Bihar,"94,163",Eastern,2.8640,NaN
12,13 (S13),West Bengal,"88,752",Eastern,2.7400,NaN
13,14 (S14),Arunachal Pradesh,"83,743",Northeastern,2.5470,NaN
14,15 (S15),Jharkhand,"79,716",Eastern,2.4240,NaN
15,16 (S16),Assam,"78,438",Northeastern,2.3860,NaN
16,17 (UT1),Ladakh,"59,146",NaN,NaN,NaN
17,"(166,698)",Northern,1.799,NaN,NaN,NaN
18,(5.071),[d],NaN,NaN,NaN,NaN
19,18 (S17),Himachal Pradesh,"55,673",Northern,1.6930,NaN
20,19 (S18),Uttarakhand,"53,483",Northern,1.6260,NaN
21,20 (S19),Punjab,"50,362",Northern,1.5320,NaN
22,21 (S20),Haryana,"44,212",Northern,1.3440,NaN
23,22 (UT2),Jammu and Kashmir,"42,241",NaN,NaN,NaN
24,"(55,538)",Northern,1.284,NaN,NaN,NaN
25,(1.689),[e],NaN,NaN,NaN,NaN
26,23 (S21),Kerala,"38,863",Southern,1.1820,NaN
27,24 (S22),Meghalaya,"22,429",Northeastern,0.6820,NaN
28,25 (S23),Manipur,"22,327",Northeastern,0.6790,NaN
29,26 (S24),Mizoram,"21,081",Northeastern,0.6410,NaN
30,27 (S25),Nagaland,"16,579",Northeastern,0.5040,NaN
31,28 (S26),Tripura,"10,491",Northeastern,0.3190,NaN
32,29 (UT3),Andaman and Nicobar Islands,"8,249",Bay of Bengal,0.2500,NaN
33,30 (S27),Sikkim,"7,096",Northeastern,0.2150,NaN
34,31 (S28),Goa,"3,702",Western,0.1120,NaN
35,32 (UT4),National Capital Territory–Delhi,"1,484",Northern,0.0450,NaN
36,33 (UT5),Dadra and Nagar Haveli and Daman and Diu,603,Western,0.0180,[5]
37,34 (UT6),Puducherry,479,Southern,0.0140,[f]
38,35 (UT7),Chandigarh,114,Northern,0.0030,NaN
39,36 (UT8),Lakshadweep,32,Arabian Sea,0.0010,NaN

In [8]:
area_df.drop(columns=['Rank','Region','%total','Unnamed: 5'],inplace=True)

In [9]:
area_df

                      State /Union Territory Area (km2)
0                                  Rajasthan    342,239
1                             Madhya Pradesh    308,252
2                                Maharashtra    307,713
3                              Uttar Pradesh    240,928
4                                    Gujarat    196,024
5                                  Karnataka    191,791
6                             Andhra Pradesh    162,975
7                                     Odisha    155,707
8                               Chhattisgarh    135,192
9                                 Tamil Nadu    130,058
10                                 Telangana    112,077
11                                     Bihar     94,163
12                               West Bengal     88,752
13                         Arunachal Pradesh     83,743
14                                 Jharkhand     79,716
15                                     Assam     78,438
16                                    Ladakh     59,146
17                                  Northern      1.799
18                                       [d]        NaN
19                          Himachal Pradesh     55,673
20                               Uttarakhand     53,483
21                                    Punjab     50,362
22                                   Haryana     44,212
23                         Jammu and Kashmir     42,241
24                                  Northern      1.284
25                                       [e]        NaN
26                                    Kerala     38,863
27                                 Meghalaya     22,429
28                                   Manipur     22,327
29                                   Mizoram     21,081
30                                  Nagaland     16,579
31                                   Tripura     10,491
32               Andaman and Nicobar Islands      8,249
33                                    Sikkim      7,096
34                                       Goa      3,702
35          National Capital Territory–Delhi      1,484
36  Dadra and Nagar Haveli and Daman and Diu        603
37                                Puducherry        479
38                                Chandigarh        114
39                               Lakshadweep         32

In [10]:
# Renaming columns 
pop_df.rename(columns={'UnionTerritory': 'State'}, inplace=True)
lit_df.rename(columns={'Country/ States/ Union Territories Name': 'State'}, inplace=True)
area_df.rename(columns={'State /Union Territory': 'State'}, inplace=True)

In [11]:
df = area_df.merge(pop_df, on='State', how='outer')
df = df.merge(lit_df, on='State', how='outer')

In [12]:
df

,State,Area (km2),"Population, 2001",Per%_of_urban_pop_wtot_pop,Rural,Urban,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,Rajasthan,"342,239","56,507,188","43,292,813","13,214,375",23.39,60.4,66.1,55.3,61.4,76.2,79.7
1,Madhya Pradesh,"308,252","60,348,023","44,380,878","15,967,145",26.46,63.7,69.3,57.8,63.9,79.4,82.8
2,Maharashtra,"307,713","96,878,627","55,777,647","41,100,980",42.43,76.9,82.3,70.4,77.0,85.5,88.7
3,Uttar Pradesh,"240,928","166,197,921","131,658,339","34,539,582",20.78,56.3,67.7,52.5,65.5,69.8,75.1
4,Gujarat,"196,024","50,671,017","31,740,767","18,930,250",37.36,69.1,78.0,61.3,71.7,81.8,86.3
5,Karnataka,"191,791","52,850,562","34,889,033","17,961,529",33.99,66.6,75.4,59.3,68.7,80.6,85.8
6,Andhra Pradesh,"162,975","76,210,007","55,401,067","20,808,940",27.30,60.5,67.0,54.5,60.4,76.1,80.1
7,Odisha,"155,707",NaN,NaN,NaN,NaN,63.1,72.9,59.8,70.2,80.8,85.7
8,Chhattisgarh,"135,192","20,833,803","16,648,056","4,185,747",20.09,64.7,70.3,60.5,66.0,80.6,84.0
9,Tamil Nadu,"130,058","62,405,679","34,921,681","27,483,998",44.04,73.5,80.1,66.2,73.5,82.5,87.0
10,Telangana,"112,077",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Bihar,"94,163","82,998,509","74,316,709","8,681,800",10.46,47.0,61.8,43.9,59.8,71.9,76.9
12,West Bengal,"88,752","80,176,197","57,748,946","22,427,251",27.97,68.6,76.3,63.4,72.1,81.2,84.8
13,Arunachal Pradesh,"83,743","1,097,968","870,087","227,881",20.75,54.3,65.4,47.8,59.9,78.3,82.9
14,Jharkhand,"79,716","26,945,829","20,952,088","5,993,741",22.24,53.6,66.4,45.7,61.1,79.1,82.3
15,Assam,"78,438","26,655,528","23,216,288","3,439,240",12.90,63.3,72.2,59.7,69.3,85.3,88.5
16,Ladakh,"59,146",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Northern,1.799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Northern,1.284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,[d],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Himachal Pradesh,"55,673","6,077,900","5,482,319","595,581",9.80,76.5,82.8,75.1,81.9,88.9,91.1
21,Uttarakhand,"53,483",NaN,NaN,NaN,NaN,71.6,78.8,68.1,76.3,81.4,84.5
22,Punjab,"50,362","24,358,999","16,096,488","8,262,511",33.92,69.7,75.8,64.7,71.4,79.1,83.2
23,Haryana,"44,212","21,144,564","15,029,260","6,115,304",28.92,67.9,75.6,63.2,71.4,79.2,83.1
24,Jammu and Kashmir,"42,241",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,[e],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Kerala,"38,863","31,841,374","23,574,449","8,266,925",25.96,90.9,94.0,90.0,93.0,93.2,95.1
27,Meghalaya,"22,429","2,318,822","1,864,711","454,111",19.58,62.6,74.4,56.3,69.9,86.3,90.8
28,Manipur,"22,327",NaN,NaN,NaN,NaN,70.5,76.9,67.3,73.4,79.3,85.4
29,Mizoram,"21,081","888,573","447,567","441,006",49.63,88.8,91.3,81.3,84.1,96.1,97.6
30,Nagaland,"16,579","1,990,036","1,647,249","342,787",17.23,66.6,79.6,62.8,75.3,84.7,89.6
31,Tripura,"10,491","3,199,203","2,653,453","545,750",17.06,73.2,87.2,69.7,84.9,89.2,93.5
32,Andaman and Nicobar Islands,"8,249","356,152","239,954","116,198",32.63,NaN,NaN,NaN,NaN,NaN,NaN
33,Sikkim,"7,096","540,851","480,981","59,870",11.07,68.8,81.4,66.8,78.9,83.9,88.7
34,Goa,"3,702","1,347,668","677,091","670,577",49.76,82.0,88.7,79.7,86.6,84.4,90.0
35,National Capital Territory–Delhi,"1,484",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Dadra and Nagar Haveli and Daman and Diu,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Puducherry,479,NaN,NaN,NaN,NaN,81.2,85.8,74.0,80.1,84.8,88.5
38,Chandigarh,114,"900,635","92,120","808,515",89.77,81.9,86.0,75.6,80.7,82.6,86.2
39,Lakshadweep,32,"60,650","33,683","26,967",44.46,86.7,91.8,85.0,91.6,88.6,91.9
40,Jammu & Kashmir,NaN,"10,143,700","7,627,062","2,516,638",24.81,55.5,67.2,49.8,63.2,71.9,77.1
41,Manipur,NaN,"2,166,788","1,590,820","575,968",26.58,NaN,NaN,NaN,NaN,NaN,NaN
42,Orissa,NaN,"36,804,660","31,287,422","5,517,238",14.99,NaN,NaN,NaN,NaN,NaN,NaN
43,Uttaranchal,NaN,"8,489,349","6,310,275","2,179,074",25.67,NaN,NaN,NaN,NaN,NaN,NaN
44,Union Territories,NaN,,,,,NaN,NaN,NaN,NaN,NaN,NaN
45,Dadra and Nagar Haveli,NaN,"220,490","170,027","50,463",22.89,NaN,NaN,NaN,NaN,NaN,NaN
46,Daman and Diu,NaN,"158,204","100,856","57,348",36.25,NaN,NaN,NaN,NaN,NaN,NaN
47,Delhi,NaN,"13,850,507","944,727","12,905,780",93.18,NaN,NaN,NaN,NaN,NaN,NaN
48,Pondicherry,NaN,"974,345","325,726","648,619",66.57,NaN,NaN,NaN,NaN,NaN,NaN
49,INDIA,NaN,NaN,NaN,NaN,NaN,64.8,73.0,58.7,67.8,79.9,84.1
50,A & N Islands,NaN,NaN,NaN,NaN,NaN,81.3,86.6,78.7,84.5,86.6,90.1
51,D & N Haveli,NaN,NaN,NaN,NaN,NaN,57.6,76.2,49.3,64.1,84.4,89.8
52,Daman & Diu,NaN,NaN,NaN,NaN,NaN,78.2,87.1,75.8,81.4,82.3,89.0
53,NCT of Delhi,NaN,NaN,NaN,NaN,NaN,81.7,86.2,78.1,81.9,81.9,86.3

In [13]:
df1 = pd.read_csv('crime_ipc.csv',sep='	')
df1

,STATE/UT,DISTRICT,Year,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [14]:
df2 = pd.read_csv('crime_sc.csv',sep='	')
df2

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [15]:
df3 = pd.read_csv('crime_st.csv',sep='	')
df3

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [16]:
df4 = pd.read_csv('crime_child.csv',sep='	')
df4

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [17]:
df5 = pd.read_csv('crime_women.csv',sep='	')
df5

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [ ]:
df_com = df1.merge(df2, on='Year', how='outer')

In [ ]:
df_com= df_com.merge(df3, on='Year', how='outer')
df_com= df_com.merge(df4, on='Year', how='outer')
df_com= df_com.merge(df5, on='Year', how='outer')